<template>

    <section>
        <div>
            <h2>About</h2>

            <h3>What the hellcrosoft is this?</h3>
            <p><em>Can I Stop</em> helps you decide if you can drop Internet Explorer 11 support.</p>

            <h3>How does it work?</h3>
            <p>Select your target regions in the list to have a better view of IE11 market shares among your audience.</p>
            <ul>
                <li>Data are updated every month.</li>
                <li>Your selected regions are saved <a href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API" target="_blank" rel="noopener">in the browser</a>.</li>
                <li><em>Can I Stop</em> also works <a href="https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorker" target="_blank" rel="noopener">offline</a>.</li>
            </ul>

            <h3 id="ie11-lifecycle">When will IE11 support finally end?</h3>
            <p>From the <a href="https://support.microsoft.com/en-us/lifecycle/search" target="_blank" rel="noopener">Microsoft Lifecycle search page</a>:</p>
            <ul>
                <li>Windows 10: <a href="https://support.microsoft.com/en-us/lifecycle/search?alpha=Windows%2010" target="_blank" rel="noopener"><time datetime="2025-10-14">14th October 2025</time></a></li>
                <li>Windows 8: <a href="https://support.microsoft.com/en-us/lifecycle/search?alpha=Windows%208.1" target="_blank" rel="noopener"><time datetime="2023-10-10">10th January 2023</time></a></li>
                <li>Windows 7 Service Pack 1: <a href="https://support.microsoft.com/en-us/lifecycle/search?alpha=Windows%207%20Service%20Pack%201" target="_blank" rel="noopener"><time datetime="2020-01-14">14th January 2020</time></a></li>
            </ul>

            <h3>How <em>Can I Stop</em> can help me? (with an example)</h3>
            <p>You are starting a long-run project for Belgium and Netherlands folks and decide to support IE11 (3 to 5% users today). Ten months later, IE11 shares have dropped to 1.2% in both countries. Helped by <em>Can I Stop</em>, you see a trend and decide to bury IE11.</p>

            <h3>When not to use <em>Can I Stop</em>?</h3>
            <ul>
                <li>Your current users unfortunately stick to IE11.</li>
                <li>You’re building things for a specific technical environment.</li>
                <li>Your audience context can’t be estimated based on regions data (<em><abbr title="exempli gratia">e.g.</abbr></em>: a web app helping people with reduced vision capabilities).</li>
                <li>…</li>
            </ul>
            <p>The basic rule: always consider your existing users first.</p>

            <!-- <h3>Why IE11? Do you… hate it?</h3>
            <p>Not exactly.</p>
            <p>IE11 was good when it was released in 2013, but unlike other browsers, it stopped receiving new features a year later while other browsers already adopted short releases cycles. IE11 isn’t deprecated and will continue to receive security updates <a href="#ie11-lifecycle">during years</a>, but Microsoft’s focus is now on <a href="https://edge.microsoft.com" target="_blank" rel="noopener">Edge</a> and they’re doing a pretty good job with it.</p>
            <p>I firmly believe in progressive enhancement and a web done for everyone, including IE11 users, but this legacy browser can really be a pain nowadays and plenty of more healthier (for both users and webste makers) alternatives exist, pushing the web forward and allowing developers to rapidly adopt new features, unlike old browsers like IE11.</p>

            <h3>Tell me more about your relationship with IE11 ❤️</h3>
            <p>As a front-end developer in Belgium, starting a new project always brings this question: “what is the evolution of <abbr title="Internet Explorer 11">IE11</abbr> market shares since I started the previous project?”. This is an essential question for me because, aside from regions where Opera Mini has huge market shares (which is another very important topic that you should be aware of), IE11 is the only <strong>old</strong> browser with significant market shares in a lot of countries, so it remains the only reason why you may not be able to fully serve a lot of features that every other browsers can:</p>
            <ul>
                <li>grid layout</li>
                <li>CSS variables</li>
                <li><code>:focus-within</code></li>
                <li>feature queries (<code>@supports</code>)</li>
                <li>sticky positioning</li>
                <li>ES6 features without polyfill or transpiling (which is less bits, so more speed)</li>
                <li>event listeners <a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener#Syntax" target="_blank" rel="noopener">options</a></li>
                <li>and many more…</li>
            </ul>
            <p>In fact, if IE11 support has always been a requirement for you, there’s a chance that you never took the time to experience at least one of these features above, because of a situation like this one:
            <blockquote>
                <p>I want to toggle a sub-menu visibility and make the sub-items accessible when they are focused. What a beautiful reason to finally play with <code>:focus-within</code>, in combination with <code>:hover</code> and <code>:focus</code>! It will be easier to code than a JavaScript CSS class toggle, and it will work without JavaScript!</p>
                <p>Unfortunately, I have to support IE11, so I’ll end up using a JavaScript toggle, so at the end it will take more time to implement both <code>:focus-within</code> and a JavaScript toggle.</p>
            </blockquote>
            <p>In this example, what is the default behaviour and what is the fallback? You can view it both ways:</p>
            <ul>
                <li><code>:focus-within</code> as default: JavaScript is the fallback where there’s no <code>:focus-within</code> support;</li>
                <li>JavaScript as default: <code>:focus-within</code> is the fallback where JavaScript isn’t available.</li>
            </ul>
            <p>Of course this is only one specific situation, but special cases aside, when checking a website on several environment (browsers and devices), IE11 almost always has problems and is almost always the most painful to debug.</p> -->

            <h3>What’s the roadmap of <em>Can I Stop</em>?</h3>
            <ul>
                <li>A more decent design</li>
                <li>Keyboard shorcuts to quickly select your regions</li>
                <li>Share your regions to your team</li>
                <!-- <li>Get notified when a selected country cross the selected market share threshold</li> -->
                <li>Other features to be revealed. :yay:</li>
            </ul>

            <slot>Back to app</slot>
        </div>
    </section>

</template>
