$light-colors: (
  'primary': $bunker,
  'bg': $white,
  'accent': $ultramarine-blue,
  'btn-bg': $lily-white,
);

$light-primary: map-get($light-colors, 'primary');
$light-bg: map-get($light-colors, 'bg');
$light-btn-bg: map-get($light-colors, 'btn-bg');
$light-accent: map-get($light-colors, 'accent');

@mixin light() {
  @include theme('basic-white', '--light') { @content; }
}
